body {
  margin: 0;
  padding: 20px;
  font-family: serif;
  background-color: #f2f2f2;
   background-image: url("https://t4.ftcdn.net/jpg/05/30/07/85/240_F_530078511_ip4qrkfOSY9MaTHd5AvsITR1khBFtcVd.jpg");
　background-size: cover;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

td a {
  text-decoration: none;
  color: #0000ff;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #e0e0e0;
}
