body {
  margin: 0;
  padding: 20px;
  font-family: serif;
  background-color: #f2f2f2;
  background-image: url("https://thumb.photo-ac.com/56/568ae7fea6d913e7914f6646adf83999_t.jpeg");
　background-size: cover;
}

.seasonalWord{
	font-size:30px;
	text-align:center;
	
}
.display{
	font-size:20px;
}

.allDiary{
	margin-top:50px;
	text-align:center;
}

.allHeadline{
	font-size:20px;
	
}

.favoriteDiary{
	margin-top:50px;
	text-align:center;
}

.favoriteHeadline{
	font-size:20px;
	
}

 table {
	width: 80%;
	margin: 0 auto;
	border-collapse: collapse;
	font-family: serif;
	font-size: 14px;
	background-image: url("https://img.freepik.com/free-photo/background-of-beige-watercolor-with-gray-stains-in-simple-style_53876-125324.jpg?size=626&ext=jpg&ga=GA1.1.1244428762.1685267429&semt=ais");
	background-size: cover;
	background-repeat: no-repeat;
	table-layout: fixed;
	word-wrap: break-word;
        }

th, td {
 width: 50px;
height: 15px;
padding: 5px;
text-align: center;
border: 1px solid #ccc;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

td a {
  text-decoration: none;
  color: #0000ff;
}

.returnCalendar {
	margin-top:50px;
	text-align: center;}
