   body {
      background-color: #F6E5D3;
      font-family: "Hiragino Mincho ProN", serif;
    }

    table {
      border-collapse: separate;
      border-spacing: 4px;
      width: 100%;
      max-width: 600px;
      margin: 20px auto;
      background-color: #F2D8B6;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
      border: 1px solid #DAA288;
      border-radius: 8px;
    }

    th {
      background-color: #DAA288;
      color: #FFFFFF;
      font-weight: normal;
      padding: 8px;
      text-align: center;
      border-bottom: 1px solid #C98C5B;
    }

    td {
      padding: 8px;
      text-align: center;
      border-bottom: 1px solid #C98C5B;
    }

    td span {
      display: block;
      font-weight: bold;
      margin-bottom: 4px;
      color: #C98C5B;
    }

    form {
      margin-top: 8px;
    }

    button {
      padding: 6px 12px;
      background-color: #E7C3A3;
      border: none;
      color: #333333;
      font-size: 14px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #CFA782;
    }