body{
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  padding: 30px;
  font-family:serif; /* テキストのフォントを明朝体に設定 */
   background-image: url("https://t4.ftcdn.net/jpg/05/30/07/85/240_F_530078511_ip4qrkfOSY9MaTHd5AvsITR1khBFtcVd.jpg");
　background-size: cover;
}
input{
	line-height: 22px;
  background: linear-gradient(to bottom, #eee 1px, white 1px);
  background-size: 100% 20px;
  background-origin: content-box;
  background-attachment: local;
  font-family: serif;
  letter-spacing: 0.05em;
	border: none;
	font-size:120%;
}
textarea {
font-size: 100%;
line-height: 20px;
  background: linear-gradient(to bottom, #eee 1px, white 1px);
  background-size: 100% 20px;
  background-origin: content-box;
  background-attachment: local;
  font-family: serif;
  letter-spacing: 0.05em;
  border: none;
}
.vertical-input{
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  	line-height: 22px;
  background: linear-gradient(to bottom, #eee 1px, white 1px);
  background-size: 100% 20px;
  background-origin: content-box;
  background-attachment: local;
  font-family: serif;
  letter-spacing: 0.05em;
	border: none;
	font-size:120%;
	 text-orientation: upright;
}
.vertical-textarea{
	writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  font-size: 100%;
line-height: 20px;
  background: linear-gradient(to bottom, #eee 1px, white 1px);
  background-size: 100% 20px;
  background-origin: content-box;
  background-attachment: local;
  font-family: serif;
  letter-spacing: 0.05em;
  border: none;
  width	: 800px;
   text-orientation: upright;
}