header{
	background-image: url("https://img.freepik.com/free-photo/beige-concrete-textured-background_53876-110257.jpg?size=626&ext=jpg&ga=GA1.1.1244428762.1685267429&semt=ais");
	background-size: cover;
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	height:50%;
	width:100%;
	
}


 h1 {
      -webkit-text-orientation: upright;
  	　text-orientation: upright;
      font-family: serif;
      text-orientation: upright;
      padding:30px 80px 0px 0px;
      font-size:50px;
    }
    
    
    form {
      font-family: serif;
    }
    
    input{
		width:200px;
	}
    
    .create {
      font-family: serif;
    }
    
    span {
      font-family: serif;
    }