body{
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  padding: 30px;
  font-family:serif; /* テキストのフォントを明朝体に設定 */
  background-image: url("https://thumb.photo-ac.com/56/568ae7fea6d913e7914f6646adf83999_t.jpeg");
　background-size: cover;	
}

.vertical-input{
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  	line-height: 22px;
  background: linear-gradient(to bottom, #eee 1px, white 1px);
  background-size: 100% 20px;
  background-origin: content-box;
  background-attachment: local;
  font-family: serif;
  letter-spacing: 0.05em;
	border: none;
	font-size:100%;
	 text-orientation: upright;
	 
}
.vertical-textarea{
	writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  font-size: 119%;
line-height: 20px;
  background: linear-gradient(to bottom, #eee 1px, white 1px);
  background-size: 100% 20px;
  background-origin: content-box;
  background-attachment: local;
  font-family: serif;
  letter-spacing: 0.05em;
  border: none;
  width	: 800px;
   text-orientation: upright;
}