/* passwordReset.css */

body {
    font-family: serif;
  background-color: #f2f2f2;
  background-image: url("https://thumb.photo-ac.com/56/568ae7fea6d913e7914f6646adf83999_t.jpeg");
　background-size: cover;
}

.error{
	 text-align: center;
}

h3 {
  text-align: center;
  margin-top: 20px;
  font-size:40px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input[type="name"],
form input[type="email"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

form button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-image: url("https://img.freepik.com/free-vector/new-year-card-vector-template-decorated-with-japanese-vintage-abstract-patterns_8130-1457.jpg?size=626&ext=jpg&ga=GA1.1.1244428762.1685267429&semt=ais");

}

form a {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #555;
  text-decoration: none;
}

span {
  color: red;
}
zz
