<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>投稿編集</title>
	<link rel="stylesheet" href="/css/diaryDetail.css">
</head>

<body>
	<div class="note">
		<h1>題名
			[[${diary.title}]]</h1>
		<p class="content">内容<br>
			[[${diary.content}]]</p>
	</div>

	<input type="hidden" name="year" th:value=${year}>
	<input type="hidden" name="month" th:value=${month}>
	<input type="hidden" name="day" th:value=${day}>

	<div class="button">
		<form th:action="'/diary/'+${diary.id}+'/edit'" method="get">
			<button class="distorted-circle1">編集</button>
		</form>
		<form th:action="'/diary/'+${diary.id}+'/delete'" method="post">
			<button class="distorted-circle2">削除</button>
		</form>
		<form action="/calendar" method="get">
			<button class="distorted-circle3">戻る</button>
		</form>
	</div>
</body>

</html>