<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="/css/newDiary.css">
</head>

<body>
	<header>
		新規登録
		<a href="/logout">ログアウト</a>
	</header>

	[[${date}]]<br>
	<h3>新規作成</h3>
	<form th:action="@{/create/diary(year=${year},month=${month},day=${day})}" method="post">
		<input type="hidden" name="year" th:value=${year}>
		<input type="hidden" name="month" th:value=${month}>
		<input type="hidden" name="day" th:value=${day}>
		タイトル<br>
		<input type="text" name="title" placeholder="タイトル"><br>
		本文<br>
		<textarea name="content" placeholder="本文"></textarea><br>
		本日の気候<br>
		<input type="text" name="weather" placeholder="タイトル"><br>
		
		<input type="checkbox" id="check" name="check">
		<label for="okiniri">お気に入り</label><br>
		
		<button>送信</button>
	</form>
	<form action="/calendar">
		<button>戻る</button>
	</form>
</body>

</html>