<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="/css/newDiary.css">
	<script>
		function submitform() {
			var title = document.getElementById('titleInput').innerText;
			var content = document.getElementById('contentInput').innerText;
			var weather = document.getElementById('weatherInput').innerText;
			document.getElementById('titleHidden').value = title;
			document.getElementById('contentHidden').value = content;
			document.getElementById('weatherHidden').value = weather;
			document.getElementById('newDiary').submit();
		}
	</script>
</head>

<body>
	<h3>新規作成</h3>
	<span class="date">[[${year}]]年[[${month}]]月[[${day}]]日<br></span>
	<form th:action="@{/create/diary(year=${year},month=${month},day=${day})}" method="post" id="newDiary">
		<input type="hidden" name="year" th:value=${year}>
		<input type="hidden" name="month" th:value=${month}>
		<input type="hidden" name="day" th:value=${day}>
		タイトル<br>
		<div th:contenteditable="true" class="vertical-input" name="title" id="titleInput" placeholder="タイトル" required></div>
		内容<br>
		<div th:contenteditable="true" class="vertical-textarea" name="content" id="contentInput" placeholder="本文" required>
		</div>
		本日の気候<br>
		<div th:contenteditable="true" class="vertical-input" name="weather" id="weatherInput" placeholder="本日の気候" required>
		</div>

		<input type="hidden" name="title" id="titleHidden">
		<input type="hidden" name="content" id="contentHidden">
		<input type="hidden" name="weather" id="weatherHidden">

		<input type="checkbox" id="check" name="check">
		<label for="okiniri">お気に入り</label><br>
	
		<a href="/calendar">カレンダーに戻る</a>
		<button onclick="submitform()">送信</button>
	</form>
	
</body>

</html>