<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>パスワード再設定</title>
	<link rel="stylesheet" href="/css/newPassword.css">
</head>

<body>
	
	
	<ul th:if="${errorMessages.size() > 0}" th:each="error:${errorMessages}"  th:class="errorList">
		<li>[[${error}]]</li>
	</ul>
	
	<form action="/setPassword" method="post">
		名前:<br>
		[[${user.name}]]<br>
		メールアドレス<br>
		[[${user.email}]]<br>

		<label for="input_pass">パスワード</label><br>
		<input type="password" name="password" id="input_pass">
		<button id="btn_passview1">表示</button><br>

		<label for="input_confirm">確認用パスワード</label><br>
		<input type="password" name="confirmpassword" id="input_confirm">
		<button id="btn_passview2">表示</button><br>
		<input type="hidden" name="name" th:value="${user.name}">
		<input type="hidden" name="email" th:value="${user.email}">
		<input type="hidden" name="id" th:value="${user.id}">

		<button>送信</button>
		<a href="/passwordReset">戻る</a>
	</form>

	<script>
		window.addEventListener('DOMContentLoaded', function () {
			let btn_passview1 = document.getElementById("btn_passview1");
			let input_pass = document.getElementById("input_pass");

			btn_passview1.addEventListener("click", (e) => {
				e.preventDefault();

				if (input_pass.type === 'password') {
					input_pass.type = 'text';
					btn_passview1.textContent = '非表示';
				} else {
					input_pass.type = 'password';
					btn_passview1.textContent = '表示';
				}
			});

			let btn_passview2 = document.getElementById("btn_passview2");
			let input_confirm = document.getElementById("input_confirm");

			btn_passview2.addEventListener("click", (e) => {
				e.preventDefault();

				if (input_confirm.type === 'password') {
					input_confirm.type = 'text';
					btn_passview2.textContent = '非表示';
				} else {
					input_confirm.type = 'password';
					btn_passview2.textContent = '表示';
				}
			});
		});
	</script>
</body>

</html>