<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>パスワード再設定</title>
	<link rel="stylesheet" href="/css/passwordReset.css">
</head>

<body>
	<h3>パスワード再設定</h3><br>
	<span th:if="${errorMessage}" th:text="${errorMessage}"></span>
	 <form action="/passwordReset" method="post">
          名前を入力してください<br>
          <input type="name" name="name"><br>
         
		　メールアドレスを入力してください<br>
		  <input type="email" name="email"><br>
			
		  
          <button>登録情報を確認</button>
			<a href="/login">戻る</a>
     </form>
</body>

</html>